<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/events}">Eventos</a></li>
            <li><a th:href="@{/events/create}">Crear Evento</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.date}"></td>
            <td>
                <a th:href="@{/events/edit/{id}(id=${event.id})}">Editar</a>
                <form th:action="@{/events/delete/{id}(id=${event.id})}" method="post">
                    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este evento?');">Eliminar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>